body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.signup-page {
    display: flex;
    height: 100vh;
}

.signup-form {
    width: 50%;
    padding: 80px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form h1 {
    font-size: 48px;
    position: relative;
    top: -40px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 80%;
    padding: 10px;
}

.signup-form button {
    width: 80%;
    padding: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background-color: #E53935;
    color: white;
    border: none;
    border-radius: 8px;
}

.signup-form hr,
.signup-form p {
    width: 80%;
    margin-left: 0;
    text-align: center;
}

.signup-form p:last-of-type {
    font-weight: 600;
}

.signup-image {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: -70px;
}

.signup-image img {
    width:  600px;
}
